.about {
    padding-top: 80px;
}

.about__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__content {
    padding-left: 120px;
    padding-right: 175px;
}

.about__image {
    padding-left: 175px;
}

.about__text {
    color: $color-dark-xl;
}