.layout-5-colums {
    display: flex;
    column-gap: 120px;
    padding-left: 87px;
    padding-right: 87px;
    padding-bottom: 50px;
}

.layout-4-colums {
    display: flex;
    column-gap: 120px;
}