.layout-5-colums {
    display: flex;
    column-gap: 120px;
    padding-left: 87px;
    padding-right: 87px;
    padding-bottom: 50px;

    @media (max-width: 1279px) {
        flex-wrap: wrap;
        column-gap: 60px;
        row-gap: 55px;
        padding-left: 39px;
        padding-right: 39px;
    }
}

.layout-4-colums {
    display: flex;
    column-gap: 120px;

    @media (max-width: 1279px) {
        display: none;
    }
}