.donation {
    padding-top: 80px;
    padding-bottom: 100px;
    background: $color-light-l;
}

.donation__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.donation__image {
    padding-left: 143px;
    padding-right: 30px;
}

.donation__content {
    padding-right: 142px;
}

.donation__bank {
    letter-spacing: 0.06em;
}

.donation__title {
    margin: 0;
    letter-spacing: 0.06em;
}

.donation__image {
    padding-top: 11px;
}

.number {
    letter-spacing: 0.06em;
    margin: 0;
}

.donation__text {
    color: $color-dark-m;
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    margin: 0;
    padding-top: 20px;
}