.donation {
    padding-top: 80px;
    padding-bottom: 100px;
    background: $color-light-l;

    @media (max-width: 1279px) {
        padding-top: 60px;
    }
}

.donation__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 1279px) {
        flex-wrap: wrap;
        flex-direction: column-reverse;

    }
}

.donation__image {
    padding-left: 143px;
    padding-right: 30px;
}

.donation__content {
    padding-right: 142px;

    @media (max-width: 1279px) {
        padding-right: 164px;
        padding-left: 164px;
        padding-bottom: 60px;
    }
}

.donation__bank {
    letter-spacing: 0.06em;
}

.donation__title {
    margin: 0;
    letter-spacing: 0.06em;
}

.donation__image {
    padding-top: 11px;

    @media (max-width: 1279px) {
        padding-top: 0;
        padding-left: 100px;

    }
}

.number {
    letter-spacing: 0.06em;
    margin: 0;
    font-family: Georgia;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.3rem;
}

.donation__text {
    color: $color-dark-m;
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    margin: 0;
    padding-top: 20px;
}