.footer {
    padding-top: 40px;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}