.footer {
    padding-top: 40px;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-navigation {
    display: flex;
    column-gap: 160px;
    align-items: center;
    justify-content: space-between;
}

.footer-navigation__column {}

.footer-navigation__title {
    margin: 0;
    letter-spacing: 0.06em;
    color: $color-light-xl;
}