.help {
    padding-top: 80px;
    padding-bottom: 75px;
}

.help__wrapper {
    text-align: center;
}

.help__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tool {
    display: flex;
    flex-direction: column;

    @media (max-width: 1279px) {
        width: 170px;
        height: 113px;
        align-items: center;
        justify-content: space-between;
    }

    @media (max-width: 767px) {
        width: 130px;
        height: 87px;
        align-items: center;
        justify-content: space-between;
    }
}

.help__title {
    margin: 0;
    letter-spacing: 0.06em;
    padding-bottom: 60px;
}

.help__text {
    letter-spacing: 0.06em;
    width: max-content;
}

.tool-long {
    @media (min-width: 1280px) {
        display: none;
    }
}