.home {
    padding-top: 74px;
}

.home__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__content {
    padding-right: 42px;
    padding-bottom: 40px;
}

.home__title {
    margin: 0 0 42px;
}

.home__text {
    padding-bottom: 64px;
    color: $color-dark-small;
}