.home {
    padding-top: 74px;

    @media (max-width: 1279px) {
        padding-top: 42px;
    }
}

.home__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;

    @media (max-width: 1279px) {
        flex-wrap: wrap;
        align-content: center;
    }
}

.home__content {
    padding-right: 42px;
    padding-bottom: 40px;
    padding-top: 163px;

    @media (max-width: 1279px) {
        padding-top: 0;
        padding-left: 124px;
        padding-right: 124px;
        padding-bottom: 0;
        margin: 0 auto;
    }
}

.home__title {
    margin: 0 0 42px;


}

.home__text {
    margin: 0;
    padding-bottom: 42px;
    color: $color-dark-small;
}

.home__image {
    @media (max-width: 1279px) {
        width: 100%;
        height: auto;
        margin-top: 99px;
    }
}

.home__image>img {
    @media (max-width: 1279px) {
        display: block;
        height: 593px;
        padding-left: 139px;
    }
}