.home {
    padding-top: 74px;
}

.home__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;

    @include media-tablet {
        flex-wrap: wrap;
        align-content: center;
    }
}

.home__content {
    padding-right: 42px;
    padding-bottom: 40px;
    padding-top: 163px;
}

.home__title {
    margin: 0 0 42px;
}

.home__text {
    margin: 0;
    padding-bottom: 42px;
    color: $color-dark-small;
}