.button {
    padding: 15px 45px;
    border-radius: 50px;
    border: none;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: 0.06em;
    background: $color-primary;
    color: $color-dark-3xl;
    cursor: pointer;
    transition: all .3s;
}

.button:hover {
    background: $color-primary-light;
}