%hamburger-line {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: $color-primary;
    width: 100%;
    height: 2px;
}

%hamburger-line-dark {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 2px;
}

.hamburger-pets {
    display: none;
    position: relative;
    width: 30px;
    height: 22px;

    @include media-tablet {
        display: inline-block;
    }

    &:before {
        @extend %hamburger-line-dark;
        top: 0;
        left: 0;
    }

    &:after {
        @extend %hamburger-line-dark;
        bottom: 0;
        left: 0;
    }
}

.hamburger {
    display: none;
    position: relative;
    width: 30px;
    height: 22px;

    @include media-tablet {
        display: inline-block;
    }

    &:before {
        @extend %hamburger-line;
        top: 0;
        left: 0;
    }

    &:after {
        @extend %hamburger-line;
        bottom: 0;
        left: 0;
    }
}

.hamburger__line {
    @extend %hamburger-line;
    top: calc(50% - 1px);
    left: 0;
}

.hamburger__line-dark {
    @extend %hamburger-line-dark;
    top: calc(50% - 1px);
    left: 0;
}