/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
  * Remove default margin.
  */
body {
  margin: 0;
}

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none;
}

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold;
}

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic;
}

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000;
}

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0;
}

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px;
}

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto;
}

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type=search] {
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto;
}

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold;
}

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.navigation__link-pets, .navigation__link, .button-right, .button-back, .card-button, .button-arrow, .button-light, .button {
  transition: all 0.3s ease-out;
}

.navigation__link-pets, .navigation__link, p {
  font-family: Arial, Helvetica, sans-serif;
}

.navigation__link-pets:after, .navigation__link:after {
  transition: width 0.4s ease-in-out;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  font-size: 1.6rem;
  font-family: "Georgia", "Times New Roman", Times, serif;
}

h1 {
  color: #FFFFFF;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.7rem;
}

h2 {
  color: #545454;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem;
}
@media (max-width: 767px) {
  h2 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.25rem;
  }
}

h3 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
}

h4 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7rem;
}

p {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.button {
  padding: 15px 45px;
  border-radius: 50px;
  border: none;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  background: #F1CDB3;
  color: #292929;
  cursor: pointer;
}
@media (max-width: 1279px) {
  .button {
    margin-left: 126px;
  }
}
@media (max-width: 767px) {
  .button {
    margin-left: 46px;
  }
}
.button:hover {
  background: #FDDCC4;
}

.button-light {
  padding: 15px 45px;
  border-radius: 50px;
  border: 2px #F1CDB3 solid;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  background: #FAFAFA;
  color: #292929;
  cursor: pointer;
}
.button-light:hover {
  background: #FDDCC4;
  border: 2px #FDDCC4 solid;
}

.button-arrow {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  border: 2px #F1CDB3 solid;
  background-color: #FAFAFA;
  cursor: pointer;
}
.button-arrow:hover {
  background: #FDDCC4;
  border: 2px #FDDCC4 solid;
}

.arrow {
  display: block;
  margin: auto;
}

.card-button {
  padding: 10px 15px;
  border-radius: 9px;
  border: none;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-style: normal;
  background: #F1CDB3;
  color: #545454;
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
  column-gap: 15px;
}
.card-button:hover {
  background: #FDDCC4;
}

.button-back {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
  background-color: #FFFFFF;
  cursor: pointer;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 2rem;
  text-align: center;
}

.button-right {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  color: #292929;
  border: 2px solid #F1CDB3;
  background-color: #FFFFFF;
  cursor: pointer;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
}
.button-right:hover {
  background: #FDDCC4;
  border: 2px #FDDCC4 solid;
}

.icon {
  cursor: pointer;
  display: inline-block;
  width: 60px;
  height: 60px;
}

.hamburger__line, .hamburger:after, .hamburger:before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #F1CDB3;
  width: 100%;
  height: 2px;
}

.hamburger__line-dark, .hamburger-pets:after, .hamburger-pets:before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 2px;
}

.hamburger-pets {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
}
@media (max-width: 767px) {
  .hamburger-pets {
    display: inline-block;
  }
}
.hamburger-pets:before {
  top: 0;
  left: 0;
}
.hamburger-pets:after {
  bottom: 0;
  left: 0;
}

.hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
}
@media (max-width: 767px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger:before {
  top: 0;
  left: 0;
}
.hamburger:after {
  bottom: 0;
  left: 0;
}

.hamburger__line {
  top: calc(50% - 1px);
  left: 0;
}

.hamburger__line-dark {
  top: calc(50% - 1px);
  left: 0;
}

.background {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navigation {
  display: flex;
  padding-left: 38px;
  gap: 35px;
  margin: 0;
}

li {
  list-style: none;
}

.navigation__link {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #CDCDCD;
  text-decoration: none;
  cursor: pointer;
}
.navigation__link:after {
  content: "";
  display: block;
  height: 3px;
  background: #F1CDB3;
  width: 0%;
}
.navigation__link:hover {
  color: #FAFAFA;
}
.navigation__link:hover:after {
  content: "";
  display: block;
  height: 3px;
  background: #F1CDB3;
  width: 100%;
}

.navigation__link-selected {
  color: #FAFAFA;
}
.navigation__link-selected:after {
  content: "";
  display: block;
  height: 3px;
  background: #F1CDB3;
  width: 114px;
}

.navigation__link-pets {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #545454;
  text-decoration: none;
  cursor: pointer;
}
.navigation__link-pets:after {
  content: "";
  display: block;
  height: 3px;
  background: #F1CDB3;
  width: 0%;
}
.navigation__link-pets:hover {
  color: #292929;
}
.navigation__link-pets:hover:after {
  content: "";
  display: block;
  height: 3px;
  background: #F1CDB3;
  width: 100%;
}

.navigation__link-selected {
  color: #FAFAFA;
}
.navigation__link-selected:after {
  content: "";
  display: block;
  height: 3px;
  background: #F1CDB3;
  width: 114px;
}

.navigation__pets-selected {
  color: #292929;
}
.navigation__pets-selected:after {
  content: "";
  display: block;
  height: 3px;
  background: #F1CDB3;
  width: 58px;
}

@media (max-width: 767px) {
  .header__navigation {
    display: none;
  }
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 1279px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 0 10px;
  }
}

header {
  padding-top: 30px;
}

.header-pets {
  padding-bottom: 15px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__title {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.52rem;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
}

.logo__subtitle {
  font-family: Arial;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.495rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.header__navigation {
  padding-bottom: 16px;
}

.home {
  padding-top: 74px;
}
@media (max-width: 1279px) {
  .home {
    padding-top: 42px;
  }
}
@media (max-width: 767) {
  .home {
    padding-top: 42px;
  }
}

.home__wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .home__wrapper {
    flex-wrap: wrap;
    align-content: center;
  }
}
@media (max-width: 767px) {
  .home__wrapper {
    flex-wrap: wrap;
    align-content: center;
  }
}

.home__content {
  padding-right: 42px;
  padding-bottom: 40px;
  padding-top: 163px;
}
@media (max-width: 1279px) {
  .home__content {
    padding-top: 0;
    padding-left: 124px;
    padding-right: 124px;
    padding-bottom: 0;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .home__content {
    padding: 0;
    margin: 0 auto;
  }
}

.home__title {
  margin: 0 0 42px;
}
@media (max-width: 767px) {
  .home__title {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
}
.home__title .arrow {
  display: none;
}

.home__text {
  margin: 0;
  padding-bottom: 42px;
  color: #CDCDCD;
}

@media (max-width: 1279px) {
  .home__image {
    width: 100%;
    height: auto;
    margin-top: 99px;
  }
}

@media (max-width: 1279px) {
  .home__image > img {
    display: block;
    height: 593px;
    padding-left: 139px;
  }
}
@media (max-width: 767px) {
  .home__image > img {
    display: block;
    height: 271.77px;
    padding-left: 40px;
  }
}

.about {
  padding-top: 80px;
  padding-bottom: 100px;
}
@media (max-width: 1279px) {
  .about {
    padding-top: 66px;
  }
}
@media (max-width: 767px) {
  .about {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.about__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .about__wrapper {
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column-reverse;
  }
}

.about__content {
  padding-left: 120px;
  padding-right: 175px;
  padding-top: 14px;
}
@media (max-width: 1279px) {
  .about__content {
    padding-left: 135px;
    padding-right: 136px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .about__content {
    padding-left: 15px;
    padding-right: 16px;
    padding-bottom: 42px;
    padding-top: 0;
  }
}

.about__image {
  padding-left: 175px;
}
@media (max-width: 1279px) {
  .about__image {
    padding-left: 204px;
  }
}
@media (max-width: 767px) {
  .about__image {
    padding-left: 20px;
    height: 353.6px;
  }
}

.about__title {
  margin: 0;
  letter-spacing: 0.06em;
}
@media (max-width: 767px) {
  .about__title {
    text-align: center;
  }
}

.about__text {
  color: #4C4C4C;
  margin: 0;
  padding-top: 25px;
}
@media (max-width: 767px) {
  .about__text {
    text-align: justify;
  }
}

.friends {
  padding-top: 80px;
  padding-bottom: 100px;
  background: #F6F6F6;
}
@media (max-width: 767px) {
  .friends {
    padding-top: 42px;
  }
}

.friends__wrapper {
  text-align: center;
}

.friends__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 60px;
}

.friends__title {
  margin: 0;
  letter-spacing: 0.06em;
}

.content__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 53px;
}
@media (max-width: 1279px) {
  .content__slider {
    column-gap: 12px;
  }
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 90px;
}
@media (max-width: 1279px) {
  .slider {
    column-gap: 40px;
  }
}

@media (max-width: 1279px) {
  .woody {
    display: none;
  }
}
@media (max-width: 767px) {
  .jennifer {
    display: none;
  }
  .button-arrow {
    display: none;
  }
}
.friends__content {
  margin: 0;
}

.friends__text {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 31px;
  letter-spacing: 0.06em;
}

.button-link {
  text-decoration: none;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
}

.slider__content {
  padding-bottom: 25px;
}

.slider__content:hover {
  transition: all 0.5s ease-out;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slider__content:hover .button-light {
  background: #FDDCC4;
  border: 2px #FDDCC4 solid;
}

.help {
  padding-top: 80px;
  padding-bottom: 75px;
}

.help__wrapper {
  text-align: center;
}

.help__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tool {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1279px) {
  .tool {
    width: 170px;
    height: 113px;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .tool {
    width: 130px;
    height: 87px;
    align-items: center;
    justify-content: space-between;
  }
}

.help__title {
  margin: 0;
  letter-spacing: 0.06em;
  padding-bottom: 60px;
}

.help__text {
  letter-spacing: 0.06em;
  width: max-content;
}

@media (min-width: 1280px) {
  .tool-long {
    display: none;
  }
}

.layout-5-colums {
  display: flex;
  column-gap: 120px;
  padding-left: 87px;
  padding-right: 87px;
  padding-bottom: 50px;
}
@media (max-width: 1279px) {
  .layout-5-colums {
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 55px;
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media (max-width: 767px) {
  .layout-5-colums {
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.layout-4-colums {
  display: flex;
  column-gap: 120px;
}
@media (max-width: 1279px) {
  .layout-4-colums {
    display: none;
  }
}

.donation {
  padding-top: 80px;
  padding-bottom: 100px;
  background: #F6F6F6;
}
@media (max-width: 1279px) {
  .donation {
    padding-top: 60px;
  }
}

.donation__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .donation__wrapper {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

.donation__image {
  padding-left: 143px;
  padding-right: 30px;
}

.donation__content {
  padding-right: 142px;
}
@media (max-width: 1279px) {
  .donation__content {
    padding-right: 164px;
    padding-left: 164px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .donation__content {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 60px;
  }
}

.donation__bank {
  letter-spacing: 0.06em;
}

.donation__title {
  margin: 0;
  letter-spacing: 0.06em;
}

.donation__image {
  padding-top: 11px;
}
@media (max-width: 1279px) {
  .donation__image {
    padding-top: 0;
    padding-left: 100px;
  }
}
@media (max-width: 767px) {
  .donation__image {
    padding-top: 0;
    padding-left: 20px;
    height: 135.2px;
  }
}

.number {
  letter-spacing: 0.06em;
  margin: 0;
  font-family: Georgia;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.3rem;
}

.donation__text {
  color: #B2B2B2;
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  margin: 0;
  padding-top: 20px;
}

.footer__wrapper {
  padding-top: 40px;
}
@media (max-width: 1279px) {
  .footer__wrapper {
    padding-top: 14px;
  }
}

.footer-navigation {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .footer-navigation {
    flex-wrap: wrap;
    padding-right: 34px;
    padding-left: 34px;
  }
}
@media (max-width: 767px) {
  .footer-navigation {
    flex-wrap: wrap;
    padding-right: 0;
    padding-left: 0;
  }
}

.footer-navigation__column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 60px;
}

.footer-navigation__links {
  color: #F1CDB3;
  text-decoration: none;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-navigation__title {
  margin: 0;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.ico_footer {
  vertical-align: middle;
  padding-right: 20px;
}

.footer-navigation__links > span {
  margin: 0;
  display: block;
}

.footer-navigation > img {
  padding-left: 7px;
}
@media (max-width: 1279px) {
  .footer-navigation > img {
    padding-right: 204px;
    padding-left: 204px;
  }
}
@media (max-width: 667px) {
  .footer-navigation > img {
    padding-right: 20px;
    padding-left: 20px;
    height: 269px;
  }
}

.logo__title-pets {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.52rem;
  letter-spacing: 0.06em;
  color: #545454;
  text-decoration: none;
}

.logo__subtitle-pets {
  font-family: Arial;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.495rem;
  letter-spacing: 0.1em;
  color: #292929;
}

.pets__content {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.slider-pets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
  row-gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 59px;
  padding-top: 60px;
}
@media (max-width: 1279px) {
  .slider-pets {
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media (max-width: 767px) {
  .slider-pets {
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.button-block {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

/*# sourceMappingURL=style.css.map */
