$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-background: radial-gradient(#5B483A, #262425);
$color-light-small: #FAFAFA;
$color-dark-small: #CDCDCD;
$color-light-xl: #FFFFFF;
$color-dark-xl: #4C4C4C;
$color-light-l: #F6F6F6;
$color-dark-l: #545454;
$color-dark-3xl: #292929;
$color-dark-m: #B2B2B2;
$color-dark-bg_assets: #5C5C5C;
$color-blackout: #29292999;

$color-background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;


$content-width: 1200px;
$tablet-width: 767px;
$mobile-big-width: 375px;
$mobile-small-width: 320px;